<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wired | Problema</title>
    <link rel="icon" href="./images/logo_128.png">
    <link rel="stylesheet" href="./css/partials/page-complaint.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
</head>
<body>
    <input type="hidden" id="userId" value="{{session.userId}}">
    <div id="page-complaint">
        <header>
            <a href="./mapa" class="upperBackButton"><img src="./images/arrow_back.svg" alt="Voltar"></a>
            <div></div>
            <p><strong>{{session.userName}}</strong></p>
            {{#if session.userId}}
                <a href="/sair">
                    <img src="./images/exit.svg" alt="Sair">
                </a>
            {{else}}
                <span style="visibility: hidden;"></span>
            {{/if}}
        </header>
        <h2>{{complaint.complaintTitle}}</h2>
        <div class="complaintInfo">
            <p>{{complaint.complaintDesc}}</p>
            <div id="mapid"></div>
            <input type="hidden" name="lat" id="lat">
            <input type="hidden" name="lng" id="lng">
            {{#if isCreator}}
                <div class="complaintItem">
                    <a href="/" id="btnCancelComplaint">Cancelar problema</a>
                </div>
            {{/if}}
        </div>
    </div>
    <span hidden data-id="{{complaint.complaintId}}" data-title="{{complaint.complaintTitle}}" data-lat="{{complaint.complaintLat}}" data-lng="{{complaint.complaintLng}}" id="complaintData"></span>
    <script src="./scripts/page-complaint.js"></script>
</body>
</html>