<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wired | Mapa</title>
    <link rel="icon" href="./images/logo_128.png">
    <link rel="stylesheet" href="./css/partials/page-map.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
</head>
<body>
    <input type="hidden" id="userId" value="{{session.userId}}">
    <div id="page-map">
        <header>
            {{#if session.userId}}
                <span style="visibility: hidden;"></span>
            {{else}}
                <a href="/" class="upperBackButton">
                    <img src="./images/arrow_back.svg" alt="Voltar">
                </a>
            {{/if}}
            <div class="aux"></div>
            <h2>Cidade, UF</h2>
            <div class="aux"></div>
            <p><strong>{{session.userName}}</strong></p>
            {{#if session.userId}}
                <a href="/sair">
                    <img src="./images/exit.svg" alt="Sair">
                </a>
            {{else}}
                <span style="visibility: hidden;"></span>
            {{/if}}
            
        </header>
        <div id="mapid"></div>
    </div>
    <a href="./criar-problema" class="addButton">
        <img src="./images/plus.svg" alt="Adicionar ponto">
    </a>
    <div class="complaints" hidden>
        {{#each complaints}}
            <span data-id="{{this.complaintId}}" data-title="{{this.complaintTitle}}" data-lat="{{this.complaintLat}}" data-lng="{{this.complaintLng}}"></span>
        {{/each}}
    </div>
    <script src="./scripts/page-map.js"></script>
</body>
</html>